{% extends "model-page.html" %}

{% block content %}

<div style="margin-top: 20px;margin-bottom: 10px;"></div>

<section>
    <div class="container">

        <div class="row" style="margin-bottom: 10px;">
            <h2 style="color: #1d2254;">Travels</h2>
        </div>

        <table class="table table-bordered border-primary" style="margin-bottom: 30px;">
            <thead>
                <tr style="background-color: #dce0e8;">
                    <td><b>Id</b></td>
                    <td><b>Title</b></td>
                    <td><b>From</b></td>
                    <td><b>To</b></td>
                    <td><b>Departure Date</b></td>
                    <td><b>Arrival Date<b/></td>
                </tr>
            </thead>
            {% for travel in travels %}
            <tbody>
                <tr>
                    <td>{{ travel.id }}</td>
                    <td>{{ travel.title }}</td>
                    <td>{{ travel.from_place }}</td>
                    <td>{{ travel.to_place }}</td>
                    <td>{{ travel.departure_date }}</td>
                    <td>{{ travel.arrival_date }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>


    </div>
</section>

<section>
    <div class="container">
        <div class="row" style="margin-bottom: 10px;">
            <h2 style="color: #1d2254;">Insurances</h2>
        </div>

        <table class="table table-bordered border-primary" style="margin-bottom: 30px;">
            <thead>
                <tr style="background-color: #dce0e8;">
                    <td><b>Id</b></td>
                    <td><b>Passport</b></td>
                    <td><b>Birthday</b></td>
                    <td><b>Purpose of travel</b></td>
                </tr>
            </thead>
            {% for ti in travel_insurance %}
            <tbody>
                <tr>
                    <td>{{ ti.id }}</td>
                    <td>{{ ti.passport }}</td>
                    <td>{{ ti.birthday }}</td>
                    <td>{{ ti.type_trip }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock %}